/**************************************************
* --
* 2. Section header
* --
**************************************************/
/**********************************************
* 2.1. Zone user
**********************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\000039}}
.zone-user-wrapper {
  width: inherit !important;
}

/*******************************************
* 2.1.1. Region user first
*******************************************/
/* User menu */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\0000317}}
.block-menu-user-menu .content ul.menu {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\0000319}}
.block-menu-user-menu .content ul.menu li {
  float: left;
}

/* Cart */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\0000326}}
#region-user-second .view-shopping-cart .view-empty .line-item-summary {
  float: left !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\0000330}}
.block-shopping-cart-block {
  margin-right: 0 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\0000333}}
.block-shopping-cart-block .content {
  width: 90%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\0000343}}
.block-shopping-cart-block .content .view-shopping-cart .view-content,
.block-shopping-cart-block .content .view-shopping-cart .view-footer,
.block-shopping-cart-block .content .view-shopping-cart .view-empty,
.block-shopping-cart-block .content .view-shopping-cart .line-item-summary,
.block-shopping-cart-block .content .view-shopping-cart ul.links {
  float: left !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\0000346}}
.block-shopping-cart-block .content .view-shopping-cart .view-footer {
  float: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\0000359}}
.block-shopping-cart-block .content .view-content ul.links,
.block-shopping-cart-block .content .view-footer ul.links {
  padding: 0;
}

/**********************************************
* 2.2. Zone branding
**********************************************/
/* Logo */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\0000376}}
.zone-branding .region-branding .logo-img,
.zone-branding .region-branding .branding-data {
  float: right;
}

/**
* Search block
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\0000383}}
#block-views-exp-display-products-page {
  float: left !important;
  margin-left: 15px;
  width: 300px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\0000388}}
#block-views-exp-display-products-page .views-exposed-widgets {
  left: auto;
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\0000393}}
#block-views-exp-display-products-page .views-exposed-widgets {
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\0000396}}
#block-views-exp-display-products-page .form-text {
  height: 18px;
  margin-left: 0;
  padding: 5px;
  width: 265px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\00003102}}
#block-views-exp-display-products-page .views-submit-button {
  position: absolute;
  left: 3px;
  right: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\00003106}}
#block-views-exp-display-products-page .views-submit-button .form-submit {
  float: left;
  width: 24px;
  height: 24px;
}

/**********************************************
* 2.3. Zone menu
**********************************************/
/* Navigation */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\00003117}}
#zone-menu .navigation .primary-menu {
  float: right !important;
  margin-right: 0 !important;
  margin-left: 12px !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\00003122}}
#zone-menu .navigation .second-menu {
  float: left !important;
  margin-left: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\00003129}}
.navigation .primary-menu ul li,
.navigation .second-menu ul li,
.zone-menu .block-menu ul li {
  display: inline;
  float: inherit;
  margin-right: 0;
  margin-left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\00003135}}
.navigation .primary-menu ul li a,
.navigation .second-menu ul li a,
.zone-menu .block-menu ul li a {
  display: block;
  float: left;
  min-height: 100%;
  height: 28px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\00003145}}
.navigation .primary-menu ul li,
.navigation .second-menu ul li {
  float: none !important;
}

/**************************************************
* --
* 3. Section content
* --
**************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\00003153}}
.section-content {
  min-height: auto;
  height: auto;
}

/*******************************************
* 3.2.1. Sidebar first
*******************************************/
/* Search api facet blocks */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\00003161}}
.region-sidebar-first .block-facetapi {
  margin-left: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\00003164}}
#search-api-ranges-block-slider-view-form {
  margin-top: 15px;
}

/* Category */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\00003168}}
.region-sidebar-first .block-facetapi.field_category .item-list {
  border: none !important;
  height: auto !important;
  padding: 0 !important;
  overflow-y: visible !important;
}

/**************************************************
* --
* 5. Commerce specific
* --
**************************************************/
/**********************************************
* 5.2. All products page
**********************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\00003183}}
.page-products .view-display-products {
  clear: both;
  margin-top: 40px;
  width: 700px !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\00003189}}
.page-products .view-display-products ul li.views-row {
  display: inline;
  height: 600px;
  padding-left: 5px;
  margin: 0;
  width: 225px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\00003197}}
.page-products .view-display-products ul li.views-row .content .commerce-product-field {
  font-size: 14px !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\00003199}}
.page-products .view-display-products ul li.views-row .content .commerce-product-field .field-name-commerce-price {
  font-size: 14px !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\00003208}}
#region-breadcrumb ul.pseudo-breadcrumb li {
  float: right;
  padding-right: 30px;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\00003213}}
#region-breadcrumb ul.pseudo-breadcrumb li a {
  position: absolute;
  height: 22px;
  right: 0;
  top: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\00003221}}
.block-search-api-sorts {
  position: relative;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\00003227}}
.block-search-api-sorts .block-inner h2.block-title {
  float: right !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\00003231}}
.block-search-api-sorts .block-inner .content {
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\00003238}}
.block-search-api-sorts ul.search-api-sorts li {
  float: left !important;
  width: auto;
  display: inline !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\00003243}}
.block-search-api-sorts ul.search-api-sorts li .search-api-sort-active {
  display: block !important;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\00003247}}
.block-search-api-sorts ul.search-api-sorts li .search-api-sort-active a {
  margin-left: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\00003254}}
.node-product-type .cloud-zoom-container {
  margin-left: 0;
  margin-right: 0;
  padding-right: 130px;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\00003261}}
.node-product-type .cloud-zoom-container a#cloud-zoom,
.node-product-type .cloud-zoom-container a#cloud-zoom img {
  float: left !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\00003264}}
.node-product-type .cloud-zoom-container #wrap img {
  float: right !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\00003268}}
.node-product-type .cloud-zoom-container .cloud-zoom-gallery-thumbs {
  position: absolute;
  top: 0;
  left: 0 !important;
  right: 0px !important;
  width: 120px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\00003275}}
.node-product-type .cloud-zoom-container .cloud-zoom-gallery-thumbs .cloud-zoom-gallery img {
  max-width: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\00003281}}
.node-product-type .cloud-zoom-container .cloud-zoom-big,
.node-product-type .cloud-zoom-container .mousetrap,
.node-product-type .cloud-zoom-container .cloud-zoom-lens {
  left: 0 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\00003287}}
.node-product-type .cloud-zoom-container .cloud-zoom-big,
.node-product-type .cloud-zoom-container .mousetrap,
.node-product-type .cloud-zoom-container .cloud-zoom-lens {
  display: inherit !important;
}

/**********************************************
* 5.3. Product page
**********************************************/
/**
* Add to cart popin.
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\00003296}}
div.messages.commerce-add-to-cart-confirmation {
  left: 25%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\00003299}}
div.messages.commerce-add-to-cart-confirmation .message-inner .added-product-title {
  float: right !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\00003302}}
div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper {
  right: auto !important;
  left: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\00003306}}
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display {
  float: none !important;
  /* LTR */
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\00003310}}
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .view-content {
  float: right;
  margin-left: 0px !important;
  margin-right: 130px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\00003315}}
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .view-content .views-field-commerce-product .content {
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\00003317}}
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .view-content .views-field-commerce-product .content .field-name-field-images {
  left: auto;
  right: -115px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\00003322}}
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .view-content .views-field-commerce-total .field-content {
  float: right !important;
  text-align: right;
}

/**********************************************
* 5.4. Checkout process
**********************************************/
/**
* Checkout progress
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\00003339}}
ul.inline.commerce-checkout-progress li,
ol.inline.commerce-checkout-progress li {
  background-image: url("../images/bg_checkout_progress_ie-rtl.png");
  background-position: left center;
  background-repeat: no-repeat;
  float: right;
  /* RTL */
  right: auto;
  left: -5px;
  padding-right: 25px;
  padding-left: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\00003349}}
ul.inline.commerce-checkout-progress li.active,
ol.inline.commerce-checkout-progress li.active {
  background-image: url("../images/bg_checkout_progress_ie-rtl.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\00003352}}
ul.inline.commerce-checkout-progress li.previous,
ol.inline.commerce-checkout-progress li.previous {
  background-image: url("../images/bg_checkout_progress_ie_visited-rtl.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\00003355}}
ul.inline.commerce-checkout-progress li.last,
ol.inline.commerce-checkout-progress li.last {
  background-image: url("../images/bg_checkout_progress_ie_last-rtl.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-7-rtl\.scss}line{font-family:\00003358}}
ul.inline.commerce-checkout-progress li.active.last,
ol.inline.commerce-checkout-progress li.active.last {
  background-image: url("../images/bg_checkout_progress_ie_last-rtl.png");
}
