/* Pulling in the alignment of the grid */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-8-rtl\.scss}line{font-family:\000032}}
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16, .grid-17, .grid-18, .grid-19, .grid-20, .grid-21, .grid-22, .grid-23, .grid-24 {
  float: right !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-8-rtl\.scss}line{font-family:\000035}}
img {
  max-width: inherit;
  width: auto;
}

/**********************************************
* 2.2. Zone branding
**********************************************/
/* Logo */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-8-rtl\.scss}line{font-family:\0000314}}
.zone-branding .region-branding .logo-img,
.zone-branding .region-branding .branding-data {
  float: right;
}

/* Search */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-8-rtl\.scss}line{font-family:\0000318}}
#block-views-exp-display-products-page {
  float: left !important;
  margin: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-8-rtl\.scss}line{font-family:\0000322}}
#block-views-exp-display-products-page .views-exposed-widgets {
  margin: 0 !important;
}

/**********************************************
* 2.3. Zone menu
**********************************************/
/**
* Navigation
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-8-rtl\.scss}line{font-family:\0000333}}
#zone-menu .navigation .primary-menu {
  float: right !important;
  margin-right: 0 !important;
  margin-left: 12px !important;
  width: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-8-rtl\.scss}line{font-family:\0000339}}
#zone-menu .navigation .second-menu {
  float: left !important;
  margin-left: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-8-rtl\.scss}line{font-family:\0000344}}
.navigation .primary-menu ul li,
.navigation .second-menu ul li {
  float: right !important;
  margin-right: 0;
  margin-left: 0;
  width: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-8-rtl\.scss}line{font-family:\0000350}}
.navigation .primary-menu ul li a,
.navigation .second-menu ul li a {
  float: none !important;
  display: inline-block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-8-rtl\.scss}line{font-family:\0000355}}
.navigation .primary-menu ul li.first a, .navigation .second-menu ul li.first a {
  border-right: 1px solid #CCC !important;
  border-left: 0 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-8-rtl\.scss}line{font-family:\0000359}}
.navigation .primary-menu ul li.last a, .navigation .second-menu ul li.last a {
  border-left: 1px solid #CCC !important;
  border-right: 0 !important;
}

/**************************************************
* --
* 4. Section footer
* --
**************************************************/
/**********************************************
* 4.1. Zone footer
**********************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-8-rtl\.scss}line{font-family:\0000372}}
#block-menu-menu-social-connection h2 {
  padding: 0 25px 22px 0 !important;
}

/* Menu footer navigation */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-8-rtl\.scss}line{font-family:\0000379}}
.section-footer ul.menu li.expanded {
  float: right !important;
}

/**************************************************
* --
* 5. Commerce specific
* --
**************************************************/
/**********************************************
* 5.1. Search & Collection page
**********************************************/
/**
* Collection page
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-8-rtl\.scss}line{font-family:\0000396}}
.view-collection-products .view-header,
.view-collection-taxonomy-term .view-header {
  height: auto;
}

/**********************************************
* 5.2. All products page
**********************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-8-rtl\.scss}line{font-family:\00003102}}
.page-products .view-display-products {
  clear: both;
  margin-top: 40px;
  width: 700px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-8-rtl\.scss}line{font-family:\00003107}}
.page-products .view-display-products li.views-row {
  display: block;
  margin-right: 0;
  margin-left: 0;
  width: 225px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-8-rtl\.scss}line{font-family:\00003121}}
.page-products .view-display-products li.views-row-4,
.page-products .view-display-products li.views-row-7,
.page-products .view-display-products li.views-row-10,
.page-products .view-display-products li.views-row-13,
.page-products .view-display-products li.views-row-16,
.page-products .view-display-products li.views-row-19,
.page-products .view-display-products li.views-row-22 {
  clear: right;
}

/**********************************************
* 5.3. Product page
**********************************************/
/**
* Add to cart popin.
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-8-rtl\.scss}line{font-family:\00003133}}
div.messages.commerce-add-to-cart-confirmation .message-inner .added-product-title {
  float: right !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-8-rtl\.scss}line{font-family:\00003136}}
div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper {
  left: 0 !important;
  right: auto !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-8-rtl\.scss}line{font-family:\00003140}}
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display {
  float: none !important;
  /* LTR */
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-8-rtl\.scss}line{font-family:\00003144}}
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .view-content {
  float: right;
  margin-left: 0px !important;
  margin-right: 130px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-8-rtl\.scss}line{font-family:\00003150}}
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .view-content .views-field-commerce-product .content .field-name-field-images {
  left: auto;
  right: -115px;
}

/* Cloud zoom */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-8-rtl\.scss}line{font-family:\00003161}}
.node-product-type .cloud-zoom-container {
  margin-left: 0;
  margin-right: 130px;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-8-rtl\.scss}line{font-family:\00003167}}
.node-product-type .cloud-zoom-container #wrap {
  float: right !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-8-rtl\.scss}line{font-family:\00003170}}
.node-product-type .cloud-zoom-container .cloud-zoom-gallery-thumbs {
  position: absolute;
  top: 0;
  left: auto;
  right: -130px;
  width: 120px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-8-rtl\.scss}line{font-family:\00003177}}
.node-product-type .cloud-zoom-container .cloud-zoom-gallery-thumbs .cloud-zoom-gallery img {
  max-width: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-8-rtl\.scss}line{font-family:\00003183}}
.node-product-type .prefix-1 {
  padding-right: 10px !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-8-rtl\.scss}line{font-family:\00003186}}
.node-product-type .field-name-field-product form.commerce-add-to-cart label {
  float: right !important;
}

/*
div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper {
  right: auto !important;
  left: 0 !important;
}
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display {
  float: right !important;
}*/
/**********************************************
* 5.4. Checkout process
**********************************************/
/**
* Checkout progress
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-8-rtl\.scss}line{font-family:\00003206}}
ul.inline.commerce-checkout-progress li,
ol.inline.commerce-checkout-progress li {
  background-image: url("../images/bg_checkout_progress_ie-rtl.png");
  background-position: left center;
  background-repeat: no-repeat;
  float: right;
  /* RTL */
  right: auto;
  left: -5px;
  padding-right: 25px;
  padding-left: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-8-rtl\.scss}line{font-family:\00003216}}
ul.inline.commerce-checkout-progress li.active,
ol.inline.commerce-checkout-progress li.active {
  background-image: url("../images/bg_checkout_progress_ie-rtl.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-8-rtl\.scss}line{font-family:\00003219}}
ul.inline.commerce-checkout-progress li.previous,
ol.inline.commerce-checkout-progress li.previous {
  background-image: url("../images/bg_checkout_progress_ie_visited-rtl.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-8-rtl\.scss}line{font-family:\00003222}}
ul.inline.commerce-checkout-progress li.last,
ol.inline.commerce-checkout-progress li.last {
  background-image: url("../images/bg_checkout_progress_ie_last-rtl.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-8-rtl\.scss}line{font-family:\00003225}}
ul.inline.commerce-checkout-progress li:after,
ol.inline.commerce-checkout-progress li:after {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/ie-lte-8-rtl\.scss}line{font-family:\00003228}}
ul.inline.commerce-checkout-progress li.active.last,
ol.inline.commerce-checkout-progress li.active.last {
  background-image: url("../images/bg_checkout_progress_ie_last-rtl.png");
  left: 25px;
}
