@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/mail\.scss}line{font-family:\000031}}
.message-wrapper {
  width: 800px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/mail\.scss}line{font-family:\000036}}
.message-wrapper .header,
.message-wrapper .body {
  padding: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/mail\.scss}line{font-family:\0000310}}
.message-wrapper .header {
  background-color: #FFF;
  color: #000000;
  height: 100px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/mail\.scss}line{font-family:\0000316}}
.message-wrapper .header .logo {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/mail\.scss}line{font-family:\0000320}}
.message-wrapper .header .thank-you {
  float: right;
  margin-top: 65px;
  font-size: 25px;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/mail\.scss}line{font-family:\0000327}}
.message-wrapper .body {
  border: solid 1px #E9E9E9;
  padding: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/mail\.scss}line{font-family:\0000332}}
.message-wrapper .detail {
  color: #b2b2b2;
  padding-bottom: 15px;
  font-size: 18px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/mail\.scss}line{font-family:\0000338}}
.message-wrapper .detail span {
  color: #00a0da;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/mail\.scss}line{font-family:\0000342}}
.message-wrapper .view-order-status {
  margin-bottom: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/mail\.scss}line{font-family:\0000346}}
.message-wrapper .view-order-status a {
  background-color: #009bd4;
  width: auto;
  color: white;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 50px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/mail\.scss}line{font-family:\0000355}}
.message-wrapper .ship-to {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/mail\.scss}line{font-family:\0000361}}
.message-wrapper .ship-to .ship-to-title,
.message-wrapper .ship-method .ship-method-title,
.message-wrapper .order-summary-wrapper p.items-title {
  font-weight: bold;
  font-size: 20px;
  color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/mail\.scss}line{font-family:\0000371}}
.message-wrapper .ship-method .express-delivery,
.message-wrapper .ship-method p,
.message-wrapper .ship-to .addressfield-container-inline.name-block,
.message-wrapper .ship-to .street-block,
.message-wrapper .ship-to .country {
  color: #90847c;
  font-size: 17px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/mail\.scss}line{font-family:\0000379}}
.message-wrapper .ship-to .first-name,
.message-wrapper .ship-to .last-name,
.message-wrapper .ship-to .name-block,
.message-wrapper .ship-method .express-delivery {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/mail\.scss}line{font-family:\0000383}}
.message-wrapper .ship-method {
  float: right;
  /* LTR */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/mail\.scss}line{font-family:\0000388}}
.message-wrapper .shipping-wrapper,
.message-wrapper .order-summary-wrapper {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/mail\.scss}line{font-family:\0000392}}
.message-wrapper .order-summary-wrapper .view-commerce-cart-summary table {
  border: none;
  border-collapse: collapse;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/mail\.scss}line{font-family:\0000398}}
.message-wrapper .order-summary-wrapper .view-commerce-cart-summary th {
  border: none;
  background: transparent;
  border-bottom: #AAAAAA solid 1px;
  text-transform: none;
  font-weight: bold;
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/mail\.scss}line{font-family:\00003108}}
.message-wrapper .order-summary-wrapper .view-commerce-cart-summary tr,
.message-wrapper .order-summary-wrapper .view-commerce-cart-summary td {
  border: none;
  background: transparent;
  padding: 10px;
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/mail\.scss}line{font-family:\00003115}}
.message-wrapper .order-summary-wrapper table.commerce-price-formatted-components {
  width: 25%;
  float: right;
  /* LTR */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/mail\.scss}line{font-family:\00003120}}
.message-wrapper .order-summary-wrapper table.commerce-price-formatted-components td {
  text-align: right;
  /* LTR */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/mail\.scss}line{font-family:\00003124}}
.message-wrapper .question {
  clear: both;
}
