@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,800);
@import url(//fonts.googleapis.com/css?family=Gentium+Basic:400,700);
/* Include Default Variables & Mixins */
/* End Variables & Mixins */
/**************************************************
* --
* 2. Section header
* --
**************************************************/
/**********************************************
* 2.2. Zone branding
**********************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-rtl\.scss}line{font-family:\0000314}}
.zone-branding .region-branding .logo-img {
  float: right !important;
  text-align: right !important;
}

/**
* Search block
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-rtl\.scss}line{font-family:\0000322}}
#block-views-exp-display-products-page {
  float: left !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-rtl\.scss}line{font-family:\0000325}}
#block-views-exp-display-products-page .views-exposed-widgets {
  margin-right: 0 !important;
  margin-left: 10px;
}

/**********************************************
* 2.3. Zone menu
**********************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-rtl\.scss}line{font-family:\0000332}}
.navigation {
  /* Main menu */
  /* Secondary menu */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-rtl\.scss}line{font-family:\0000334}}
.navigation .primary-menu ul,
.navigation .second-menu ul {
  float: right !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-rtl\.scss}line{font-family:\0000336}}
.navigation .primary-menu ul li,
.navigation .second-menu ul li {
  margin-right: 0 !important;
  margin-left: -4px !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-rtl\.scss}line{font-family:\0000339}}
.navigation .primary-menu ul li.first a,
.navigation .second-menu ul li.first a {
  border-right: 1px solid #cccccc !important;
  border-left: none !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-rtl\.scss}line{font-family:\0000343}}
.navigation .primary-menu ul li.last a,
.navigation .second-menu ul li.last a {
  border-left: 1px solid #cccccc !important;
  border-right: none !important;
  margin-right: -2px !important;
  margin-left: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-rtl\.scss}line{font-family:\0000352}}
.navigation .primary-menu {
  float: right !important;
  margin-right: 0 !important;
  margin-left: 12px !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-rtl\.scss}line{font-family:\0000358}}
.navigation .second-menu {
  float: left !important;
}

/**************************************************
* --
* 3. Section content
* --
**************************************************/
/**********************************************
* 3.2. Zone content
**********************************************/
/*******************************************
* 3.2.1. Sidebar first
*******************************************/
/* Price range */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-rtl\.scss}line{font-family:\0000374}}
#search-api-ranges-block-slider-view-form label {
  float: left;
}

/**************************************************
* --
* 4. Section footer
* --
**************************************************/
/**********************************************
* 4.1. Zone footer
**********************************************/
/**
* Menu footer navigation
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-rtl\.scss}line{font-family:\0000391}}
.section-footer ul.menu li.expanded {
  float: right !important;
}

/**************************************************
* --
* 5. Commerce specific
* --
**************************************************/
/**********************************************
* 5.1. Search & Collection page
**********************************************/
/**
* Collection page
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-rtl\.scss}line{font-family:\00003109}}
.view-collection-products .view-header .view-collection-products,
.view-collection-products .view-header .collection-terms,
.view-collection-taxonomy-term .view-header .view-collection-products,
.view-collection-taxonomy-term .view-header .collection-terms {
  float: right;
  margin: 5px;
  padding-top: 0;
}

/**********************************************
* 5.3. Product page
**********************************************/
/**
* Add to cart popin.
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-rtl\.scss}line{font-family:\00003122}}
div.messages.commerce-add-to-cart-confirmation .message-inner .added-product-title {
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-rtl\.scss}line{font-family:\00003125}}
div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper {
  right: auto !important;
  left: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-rtl\.scss}line{font-family:\00003129}}
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display {
  float: right !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-rtl\.scss}line{font-family:\00003132}}
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .view-content .views-field-commerce-product .content .field-name-field-images {
  clear: right !important;
  float: right !important;
}

/**********************************************
* 5.4. Checkout process
**********************************************/
/**
* Checkout page
* Shipping page
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-rtl\.scss}line{font-family:\00003151}}
.page-checkout #commerce-checkout-form-checkout fieldset label,
.page-checkout #commerce-checkout-form-review fieldset label {
  float: right !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-rtl\.scss}line{font-family:\00003155}}
.page-checkout #commerce-checkout-form-checkout fieldset .commerce-customer-profile-copy label,
.page-checkout #commerce-checkout-form-review fieldset .commerce-customer-profile-copy label {
  float: none !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-rtl\.scss}line{font-family:\00003162}}
.page-cart .entity-commerce-product .content .field-name-field-images {
  float: right !important;
  margin-right: 0px !important;
  margin-left: 8px;
}

/**************************************************
* --
* 7. Blog
* --
**************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-rtl\.scss}line{font-family:\00003173}}
.page-blog .region-content .view-content .views-row {
  clear: right !important;
  float: right !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-rtl\.scss}line{font-family:\00003177}}
.page-blog .region-content .view-content .views-row-even {
  clear: left !important;
  float: left !important;
}

/**************************************************
* --
* 9. User account
* --
**************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-rtl\.scss}line{font-family:\00003188}}
.page-user,
.page-checkout {
  /* Registration form */
  /* Login form, create an account block */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-rtl\.scss}line{font-family:\00003193}}
.page-user #user_register_form,
.page-user #user_login_form,
.page-user .create-account,
.page-user #user_pass_form,
.page-checkout #user_register_form,
.page-checkout #user_login_form,
.page-checkout .create-account,
.page-checkout #user_pass_form {
  float: right !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-rtl\.scss}line{font-family:\00003201}}
.page-user form#user-register-form .form-item-pass .password-parent .password-strength,
.page-user form#user-profile-form .form-item-pass .password-parent .password-strength,
.page-checkout form#user-register-form .form-item-pass .password-parent .password-strength,
.page-checkout form#user-profile-form .form-item-pass .password-parent .password-strength {
  right: auto !important;
  left: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-rtl\.scss}line{font-family:\00003207}}
.page-user form#user-register-form .form-item-pass .confirm-parent div.password-confirm,
.page-user form#user-profile-form .form-item-pass .confirm-parent div.password-confirm,
.page-checkout form#user-register-form .form-item-pass .confirm-parent div.password-confirm,
.page-checkout form#user-profile-form .form-item-pass .confirm-parent div.password-confirm {
  left: 15px;
  right: auto !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-rtl\.scss}line{font-family:\00003217}}
.page-user form#user-login #user_login_form,
.page-checkout form#user-login #user_login_form {
  border-left: 1px solid #444 !important;
  border-right: none !important;
  padding-right: 0;
  padding-left: 20px;
}
