@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,800);
@import url(//fonts.googleapis.com/css?family=Gentium+Basic:400,700);
/* Include Default Variables & Mixins */
/* End Variables & Mixins */
/**************************************************
* --
* 2. Section header
* --
**************************************************/
/**********************************************
* 2.1. Zone user
**********************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\0000313}}
.zone-user-wrapper {
  position: fixed;
  z-index: 200;
}

/*******************************************
* 2.1.2. Region user second
*******************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\0000320}}
#region-user-second {
  background-color: transparent;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\0000323}}
.block-views-shopping-cart-block {
  margin: 0;
}

/**********************************************
* 2.2. Zone branding
**********************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\0000329}}
.zone-branding .region-branding {
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\0000332}}
.zone-branding .region-branding .logo-img {
  float: left;
  /* LTR */
  text-align: left;
  /* LTR */
}

/**
* Search block
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\0000340}}
#block-views-exp-display-products-page {
  float: right;
  /* LTR */
  padding-top: 10px;
  margin-bottom: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\0000345}}
#block-views-exp-display-products-page .views-exposed-widgets {
  position: relative;
  width: 300px;
  float: none;
  margin-right: 10px;
  /* LTR */
  margin-bottom: 0;
}

/**********************************************
* 2.3. Zone menu
**********************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\0000355}}
.menu-toggle {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\0000359}}
.navigation {
  background: transparent;
  display: block !important;
  margin: 26px 0;
  padding-bottom: 0;
  /* Main menu */
  /* Secondary menu */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\0000365}}
.navigation h2 {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\0000369}}
.navigation .primary-menu ul,
.navigation .second-menu ul {
  display: block;
  float: left;
  /* LTR */
  margin: 0;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\0000375}}
.navigation .primary-menu ul li,
.navigation .second-menu ul li {
  font-size: 0.8em;
  margin-right: -4px;
  /* LTR */
  width: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\0000380}}
.navigation .primary-menu ul li a,
.navigation .second-menu ul li a {
  display: inline;
  border-left-width: 0;
  border-right-width: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\0000386}}
.navigation .primary-menu ul li a.active, .navigation .primary-menu ul li a:hover,
.navigation .second-menu ul li a.active,
.navigation .second-menu ul li a:hover {
  border-left-width: 0;
  border-right-width: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\0000392}}
.navigation .primary-menu ul li.first a,
.navigation .second-menu ul li.first a {
  border-left: 1px solid #cccccc;
  /* LTR */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\0000395}}
.navigation .primary-menu ul li.last a,
.navigation .second-menu ul li.last a {
  border-right: 1px solid #cccccc;
  /* LTR */
  margin-right: 0;
  /* LTR */
  margin-left: -2px;
  /* LTR */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003103}}
.navigation .primary-menu {
  float: left;
  /* LTR */
  margin-right: 12px;
  /* LTR */
  margin-left: 0;
  /* LTR */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003109}}
.navigation .second-menu {
  clear: inherit;
  float: right;
  /* LTR */
  margin-right: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003119}}
.zone-menu .block-menu h2.block-title {
  margin-bottom: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003123}}
.zone-menu .block-menu ul.menu li {
  font-size: 0.8em;
  width: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003127}}
.zone-menu .block-menu ul.menu li a {
  display: inline;
  border-left-width: 0;
  border-right-width: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003132}}
.zone-menu .block-menu ul.menu li a.active, .zone-menu .block-menu ul.menu li a:hover {
  border-left-width: 0;
  border-right-width: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003138}}
.zone-menu .block-menu ul.menu li.first a {
  border-left: 1px solid #cccccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003141}}
.zone-menu .block-menu ul.menu li.last a {
  border-right: 1px solid #cccccc;
}

/**************************************************
* --
* 3. Section content
* --
**************************************************/
/**********************************************
* 3.2. Zone content
**********************************************/
/*******************************************
* 3.2.1. Sidebar first
*******************************************/
/* Price range */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003160}}
#search-api-ranges-block-slider-view-form .range-slider-box {
  margin: 0 auto;
  width: 90%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003164}}
#search-api-ranges-block-slider-view-form .range-box {
  float: inherit;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003167}}
#search-api-ranges-block-slider-view-form label {
  float: left;
  /* LTR */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003171}}
#search-api-ranges-block-slider-view-form #edit-range-from,
#search-api-ranges-block-slider-view-form #edit-range-to {
  float: inherit;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003174}}
#search-api-ranges-block-slider-view-form #edit-submit {
  margin-top: 0;
}

/*******************************************
* 3.2.2. Content
*******************************************/
/**
* Blocks
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003183}}
#block-views-demo-content-slideshow-block-1 {
  /* HP blocks: Slideshow */
  /**
   * For modern browsers
   * 1. The space content is one way to avoid an Opera bug when the
   *    contenteditable attribute is included anywhere else in the document.
   *    Otherwise it causes space to appear at the top and bottom of elements
   *    that are clearfixed.
   * 2. The use of `table` rather than `block` is only necessary if using
   *    `:before` to contain the top-margins of child elements.
   */
  /**
   * For IE 6/7 only
   * Include this rule to trigger hasLayout and contain floats.
   */
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/mixins\.scss}line{font-family:\0000312}}
#block-views-demo-content-slideshow-block-1:before, #block-views-demo-content-slideshow-block-1.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/mixins\.scss}line{font-family:\0000317}}
#block-views-demo-content-slideshow-block-1:after {
  clear: both;
}

/**********************************************
* 3.3. Zone postscript
**********************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003190}}
.zone-postscript .grid-8 {
  margin: 0 10px;
  width: inherit;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003194}}
#zone-postscript {
  /* Adverts blocks */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003197}}
#zone-postscript .view-ad-push .views-row,
#zone-postscript .block-blog-block .block-inner {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003199}}
#zone-postscript .view-ad-push .views-row img,
#zone-postscript .block-blog-block .block-inner img {
  height: auto;
  max-width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003205}}
#zone-postscript .view-ad-push .views-row .views-field-field-tagline,
#zone-postscript .block-blog-block .block-inner .content .views-field-title {
  position: absolute;
  bottom: 10%;
  left: 7%;
  width: 86%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003210}}
#zone-postscript .view-ad-push .views-row .views-field-field-tagline a,
#zone-postscript .block-blog-block .block-inner .content .views-field-title a {
  border: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003215}}
#zone-postscript .block-blog-block .block-inner .block-title {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003221}}
#zone-postscript .view-ad-push .views-row .views-field-field-tagline .field-content a,
#zone-postscript .block-blog-block .views-field-title .field-content a {
  min-height: 60px;
  padding: 15px 10px;
}

/**************************************************
* --
* 4. Section footer
* --
**************************************************/
/**********************************************
* 4.1. Zone footer
**********************************************/
/**
* Menu footer navigation
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003240}}
.section-footer ul.menu li.expanded {
  display: inline;
  float: left;
  /* LTR */
}

/**********************************************
* 4.2. Zone footer2
**********************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003248}}
#block-menu-menu-payment-methods {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}

/**************************************************
* --
* 5. Commerce specific
* --
**************************************************/
/**********************************************
* 5.1. Search & Collection page
**********************************************/
/**
* Collection page
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003263}}
.view-collection-products .view-header,
.view-collection-taxonomy-term .view-header {
  background-size: contain;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003265}}
.view-collection-products .view-header .taxonomy-title,
.view-collection-taxonomy-term .view-header .taxonomy-title {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003269}}
.view-collection-products .view-header .view-collection-products,
.view-collection-products .view-header .collection-terms,
.view-collection-taxonomy-term .view-header .view-collection-products,
.view-collection-taxonomy-term .view-header .collection-terms {
  float: right;
  margin: 5px;
  padding-top: 0;
}

/**********************************************
* 5.3. Product page
**********************************************/
/**
* Add to cart popin.
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003281}}
.view-confirm-message-product-display {
  clear: both;
  float: none;
  width: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003288}}
div.messages.commerce-add-to-cart-confirmation .message-inner .added-product-title {
  float: left;
  /* LTR */
  width: 180px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003292}}
div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper {
  height: 100%;
  position: absolute;
  right: 0;
  /* LTR */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003298}}
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display {
  float: left;
  /* LTR */
  padding-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003304}}
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .view-content .views-field-commerce-product .content .field-name-field-images {
  position: relative;
  left: 0;
}

/* Product details */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003313}}
.node-product-type {
  /* Cloud zoom */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003318}}
.node-product-type .cloud-zoom-container .cloud-zoom-big,
.node-product-type .cloud-zoom-container .mousetrap,
.node-product-type .cloud-zoom-container .cloud-zoom-lens {
  display: inherit !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003322}}
.node-product-type .field-name-field-product form.commerce-add-to-cart label {
  float: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003326}}
.service-links {
  width: auto;
}

/**********************************************
* 5.4. Checkout process
**********************************************/
/**
* Checkout page
* Shipping page
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003341}}
.page-checkout #commerce-checkout-form-checkout fieldset label,
.page-checkout #commerce-checkout-form-review fieldset label {
  float: left;
  /* LTR */
  width: 20%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003346}}
.page-checkout #commerce-checkout-form-checkout fieldset .commerce-customer-profile-copy label,
.page-checkout #commerce-checkout-form-review fieldset .commerce-customer-profile-copy label {
  float: none;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003354}}
.page-cart .entity-commerce-product .content .field-name-field-images {
  display: inline;
  float: left;
  margin-right: 8px;
}

/**************************************************
* --
* 7. Blog
* --
**************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003365}}
.page-blog .region-content .view-content .views-row {
  clear: left;
  float: left;
  width: 49%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003370}}
.page-blog .region-content .view-content .views-row-even {
  clear: right;
  float: right;
}

/**************************************************
* --
* 9. User account
* --
**************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003381}}
.page-user,
.page-checkout {
  /* Registration form */
  /* Login form, create an account block */
  /* User home */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003386}}
.page-user #user_register_form,
.page-user #user_login_form,
.page-user .create-account,
.page-user #user_pass_form,
.page-checkout #user_register_form,
.page-checkout #user_login_form,
.page-checkout .create-account,
.page-checkout #user_pass_form {
  clear: none;
  float: left;
  width: 45%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003394}}
.page-user form#user-register-form .form-item-pass,
.page-user form#user-profile-form .form-item-pass,
.page-checkout form#user-register-form .form-item-pass,
.page-checkout form#user-profile-form .form-item-pass {
  margin-bottom: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003396}}
.page-user form#user-register-form .form-item-pass .password-parent,
.page-user form#user-profile-form .form-item-pass .password-parent,
.page-checkout form#user-register-form .form-item-pass .password-parent,
.page-checkout form#user-profile-form .form-item-pass .password-parent {
  position: relative;
  width: 36.3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003399}}
.page-user form#user-register-form .form-item-pass .password-parent .password-strength,
.page-user form#user-profile-form .form-item-pass .password-parent .password-strength,
.page-checkout form#user-register-form .form-item-pass .password-parent .password-strength,
.page-checkout form#user-profile-form .form-item-pass .password-parent .password-strength {
  position: absolute;
  right: 15px;
  bottom: -12px;
  width: 17em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003406}}
.page-user form#user-register-form .form-item-pass .confirm-parent,
.page-user form#user-profile-form .form-item-pass .confirm-parent,
.page-checkout form#user-register-form .form-item-pass .confirm-parent,
.page-checkout form#user-profile-form .form-item-pass .confirm-parent {
  position: relative;
  width: 36.3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003409}}
.page-user form#user-register-form .form-item-pass .confirm-parent div.password-confirm,
.page-user form#user-profile-form .form-item-pass .confirm-parent div.password-confirm,
.page-checkout form#user-register-form .form-item-pass .confirm-parent div.password-confirm,
.page-checkout form#user-profile-form .form-item-pass .confirm-parent div.password-confirm {
  right: 15px;
  bottom: 8px;
  width: 17em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003415}}
.page-user form#user-register-form .form-item-pass .password-suggestions,
.page-user form#user-profile-form .form-item-pass .password-suggestions,
.page-checkout form#user-register-form .form-item-pass .password-suggestions,
.page-checkout form#user-profile-form .form-item-pass .password-suggestions {
  width: 38.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003419}}
.page-user form#user-register-form .form-actions,
.page-user form#user-profile-form .form-actions,
.page-checkout form#user-register-form .form-actions,
.page-checkout form#user-profile-form .form-actions {
  clear: both;
  margin-top: 0;
  margin-bottom: 100px;
  width: 70%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003426}}
.page-user #user_pass_form,
.page-checkout #user_pass_form {
  width: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003432}}
.page-user form#user-login #user_login_form,
.page-checkout form#user-login #user_login_form {
  border: 0;
  border-right: 1px solid #444;
  padding-right: 20px;
  padding-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003438}}
.page-user form#user-login .create-account,
.page-checkout form#user-login .create-account {
  margin: 0;
  padding: 0 20px 20px 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003447}}
.page-user .profile ul.user-information li,
.page-checkout .profile ul.user-information li {
  border-bottom: 0;
  width: 33%;
}

/* Address book */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default\.scss}line{font-family:\00003457}}
.page-user-addressbook .view-commerce-addressbook td {
  display: table-cell;
}
