/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal
 *  and widescreen CSS files as appropriate. */
/* YO REMODELO*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-narrow\.scss}line{font-family:\000039}}
.front .node {
  display: block;
  margin: 1.5% 0%;
  padding: 0;
  width: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-narrow\.scss}line{font-family:\0000316}}
.productos-grid {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-narrow\.scss}line{font-family:\0000320}}
.productos-grid .views-row {
  display: flex;
  width: 100%;
  margin: 1%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-narrow\.scss}line{font-family:\0000326}}
.productos-grid .views-column {
  width: 33%;
  /*height: 150px;*/
  float: left;
 margin: 1%;
}

/*Sub productos*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-narrow\.scss}line{font-family:\0000334}}
.sub-product-categories {
  display: table;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-narrow\.scss}line{font-family:\0000338}}
.sub-product-categories .sub-product-categories-row {
  display: table-row;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-narrow\.scss}line{font-family:\0000342}}
.sub-product-categories .sub-product-categories-column {
  display: table-cell;
  width: 33%;
}

/*hide/show first sidebar*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-narrow\.scss}line{font-family:\0000350}}
#region-sidebar-first {
  display: inherit;
}

/**********************************************
* 2.4. Zone header
**********************************************/
/**
* Navigation
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-narrow\.scss}line{font-family:\0000365}}
.navigation .primary-menu .links li,
.navigation .second-menu .links li {
  font-size: 0.55em;
}

/**************************************************
* --
* 3. Section content
* --
**************************************************/
/**********************************************
* 3.2. Zone content
**********************************************/
/*******************************************
* 3.2.1. Sidebar first
*******************************************/
/* Price range */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-narrow\.scss}line{font-family:\0000383}}
#search-api-ranges-block-slider-view-form label {
  float: none;
}

/*******************************************
* 3.2.2. Content
*******************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-narrow\.scss}line{font-family:\0000389}}
#promotional_banner .promotional_banner_special_offer {
  float: right;
  /* LTR */
  line-height: 22px;
  margin-top: 4px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-narrow\.scss}line{font-family:\0000395}}
#block-views-demo-content-slideshow-block-1 {
  /* HP blocks: Slideshow */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-narrow\.scss}line{font-family:\0000398}}
#block-views-demo-content-slideshow-block-1 .bx-wrapper,
#block-views-demo-content-slideshow-block-1 .bx-wrapper .bx-window {
  padding-bottom: 0;
}

/**************************************************
* --
* 5. Commerce specific
* --
**************************************************/
/**********************************************
* 5.1. Search & Collection page
**********************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-narrow\.scss}line{font-family:\00003111}}
.view-collection-products .view-header .collection-terms .view-content .item-list,
.view-collection-taxonomy-term .view-header .collection-terms .view-content .item-list {
  display: block;
  float: none;
}

/**********************************************
* 5.3. Product page
**********************************************/
/**
* Add to cart popin.
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-narrow\.scss}line{font-family:\00003122}}
div.messages.commerce-add-to-cart-confirmation .message-inner .added-product-title {
  float: left;
  /* LTR */
  width: 180px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-narrow\.scss}line{font-family:\00003126}}
div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper {
  height: 100%;
  position: absolute;
  right: 0;
  /* LTR */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-narrow\.scss}line{font-family:\00003132}}
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display {
  float: left;
  /* LTR */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-narrow\.scss}line{font-family:\00003135}}
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .view-content .views-field-commerce-product .content .field-name-field-images {
  clear: left;
  /* LTR */
  float: left;
  /* LTR */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-narrow\.scss}line{font-family:\00003144}}
.node-product-type .cloud-zoom-container #wrap {
  float: right !important;
  /* LTR */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-narrow\.scss}line{font-family:\00003147}}
.node-product-type .cloud-zoom-container .cloud-zoom-gallery-thumbs {
  clear: none;
  float: none !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-narrow\.scss}line{font-family:\00003150}}
.node-product-type .cloud-zoom-container .cloud-zoom-gallery-thumbs .cloud-zoom-gallery {
  margin: 5px;
}
