@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,800);
@import url(//fonts.googleapis.com/css?family=Gentium+Basic:400,700);
/* Include Default Variables & Mixins */
/* End Variables & Mixins */
/**************************************************
* --
* 2. Section header
* --
**************************************************/
/**********************************************
* 2.1. Zone user
**********************************************/
/*******************************************
* 2.1.1. Region user first
*******************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-normal\.scss}line{font-family:\0000316}}
.block-menu-user-menu .block-inner {
  float: right;
  margin-right: 10px;
}

/**********************************************
* 2.4. Zone header
**********************************************/
/**
* Navigation
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-normal\.scss}line{font-family:\0000330}}
.navigation .primary-menu .links li,
.navigation .second-menu .links li {
  font-size: 0.9em;
}

/**************************************************
* --
* 3. Section content
* --
**************************************************/
/**********************************************
* 3.2. Zone content
**********************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-normal\.scss}line{font-family:\0000345}}
.zone-content-wrapper .zone-content .region-content-inner {
  margin-bottom: 10px;
}

/*******************************************
* 3.2.1. Sidebar first
*******************************************/
/* Price range */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-normal\.scss}line{font-family:\0000356}}
#search-api-ranges-block-slider-view-form .range-box-left .form-item,
#search-api-ranges-block-slider-view-form .range-box-right .form-item {
  margin-top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-normal\.scss}line{font-family:\0000360}}
#search-api-ranges-block-slider-view-form .range-box-left,
#search-api-ranges-block-slider-view-form .range-box-right {
  position: absolute;
  top: -30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-normal\.scss}line{font-family:\0000363}}
#search-api-ranges-block-slider-view-form .range-box-left label,
#search-api-ranges-block-slider-view-form .range-box-right label {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-normal\.scss}line{font-family:\0000367}}
#search-api-ranges-block-slider-view-form .range-box-left {
  left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-normal\.scss}line{font-family:\0000370}}
#search-api-ranges-block-slider-view-form .range-box-right {
  right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-normal\.scss}line{font-family:\0000372}}
#search-api-ranges-block-slider-view-form .range-box-right #edit-range-to {
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-normal\.scss}line{font-family:\0000376}}
#search-api-ranges-block-slider-view-form .range-slider-box {
  display: block;
  margin-top: 25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-normal\.scss}line{font-family:\0000381}}
#search-api-ranges-block-slider-view-form #edit-range-from,
#search-api-ranges-block-slider-view-form #edit-range-to {
  background: none;
  border: none;
  font-size: 16px;
  font-weight: 300;
  padding: 0;
  width: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-normal\.scss}line{font-family:\0000389}}
#search-api-ranges-block-slider-view-form #edit-submit {
  display: none;
}

/* Category */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-normal\.scss}line{font-family:\0000394}}
.region-sidebar-first .block-facetapi.field_category .item-list {
  border: 1px solid #d9d9d9;
  height: 220px;
  padding: 10px 15px;
  overflow-y: scroll;
}

/**********************************************
* 3.2. Zone content
**********************************************/
/* HP blocks: Top advert */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-normal\.scss}line{font-family:\00003105}}
#promotional_banner .promotional_banner_saving {
  display: inline-block;
  width: auto;
  padding: 0 22px 0 12px;
  margin: 10px 0 0 0;
  line-height: 38px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-normal\.scss}line{font-family:\00003112}}
#promotional_banner .promotional_banner_special_offer {
  top: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-normal\.scss}line{font-family:\00003116}}
#block-views-demo-content-slideshow-block-1 {
  /* HP blocks: Slideshow */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-normal\.scss}line{font-family:\00003118}}
#block-views-demo-content-slideshow-block-1 .bx-wrapper {
  padding-bottom: 100px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-normal\.scss}line{font-family:\00003123}}
#block-views-demo-content-slideshow-block-1 .bx-wrapper ul.event-slider li {
  overflow: visible;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-normal\.scss}line{font-family:\00003127}}
#block-views-demo-content-slideshow-block-1 .views-field-nothing {
  background: #888;
  border: 1px solid #CCC;
  color: #ffffff;
  padding-bottom: 5px;
  position: absolute;
  bottom: -100px;
  left: 34%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-normal\.scss}line{font-family:\00003137}}
#block-views-demo-content-slideshow-block-1 .bx-prev,
#block-views-demo-content-slideshow-block-1 .bx-next {
  color: #000000;
  background: #EEE;
  border: 1px solid #CCC;
  text-decoration: none;
  display: block;
  margin-top: 15px;
  padding-bottom: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-normal\.scss}line{font-family:\00003145}}
#block-views-demo-content-slideshow-block-1 .bx-prev:hover,
#block-views-demo-content-slideshow-block-1 .bx-next:hover {
  background: #FFF;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-normal\.scss}line{font-family:\00003152}}
#block-views-demo-content-slideshow-block-1 .views-field-nothing,
#block-views-demo-content-slideshow-block-1 .bx-prev,
#block-views-demo-content-slideshow-block-1 .bx-next {
  display: block;
  height: 80px;
  text-align: center;
  text-indent: 0;
  width: 32%;
  margin-right: 2%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-normal\.scss}line{font-family:\00003160}}
#block-views-demo-content-slideshow-block-1 .views-field-nothing span.field-content,
#block-views-demo-content-slideshow-block-1 .bx-prev span.field-content,
#block-views-demo-content-slideshow-block-1 .bx-next span.field-content {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 21px;
  height: 80px;
  line-height: 28px;
  padding: 10px 25px 0;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-normal\.scss}line{font-family:\00003170}}
#block-views-demo-content-slideshow-block-1 .views-field-nothing span.field-content em,
#block-views-demo-content-slideshow-block-1 .bx-prev span.field-content em,
#block-views-demo-content-slideshow-block-1 .bx-next span.field-content em {
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-normal\.scss}line{font-family:\00003180}}
#block-views-demo-content-slideshow-block-1 .bx-prev {
  margin-left: 0;
  /* LTR */
  float: left;
  /* LTR */
  position: absolute;
  bottom: 0;
  left: 0;
  /* LTR */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-normal\.scss}line{font-family:\00003187}}
#block-views-demo-content-slideshow-block-1 .bx-next {
  margin-right: 0;
  /* LTR */
  float: right;
  /* LTR */
  position: absolute;
  bottom: 0;
  right: 0;
  /* LTR */
}

/**********************************************
* 3.3. Zone postscript
**********************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-normal\.scss}line{font-family:\00003200}}
#zone-postscript .view-ad-push .views-row .views-field-field-tagline .field-content,
#zone-postscript .block-blog-block .views-field-title .field-content {
  font-size: 18px;
  line-height: 26px;
}

/**************************************************
* --
* 4. Section footer
* --
**************************************************/
/**********************************************
* 4.1. Zone footer
**********************************************/
/**
* Connect with us
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-normal\.scss}line{font-family:\00003216}}
#block-menu-menu-social-connection h2 {
  line-height: inherit;
  padding: 0 0 22px 25px;
}

/**************************************************
* --
* 5. Commerce specific
* --
**************************************************/
/**********************************************
* 5.1. Search & Collection page
**********************************************/
/**
* Collection page
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-normal\.scss}line{font-family:\00003233}}
.view-collection-products .view-header .taxonomy-title,
.view-collection-taxonomy-term .view-header .taxonomy-title {
  font-size: 3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-normal\.scss}line{font-family:\00003236}}
.view-collection-products .view-header .collection-terms .view-content .item-list,
.view-collection-taxonomy-term .view-header .collection-terms .view-content .item-list {
  display: block;
  float: none;
}

/**********************************************
* 5.3. Product page
**********************************************/
/**
* Add to cart popin.
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-normal\.scss}line{font-family:\00003249}}
div.messages.commerce-add-to-cart-confirmation .message-inner .added-product-title {
  width: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-normal\.scss}line{font-family:\00003253}}
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .view-content {
  margin-left: 130px;
  /* LTR */
  width: 65%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-normal\.scss}line{font-family:\00003257}}
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .view-content .views-field-commerce-product .content .field-name-field-images {
  position: absolute;
  left: -115px;
  /* LTR */
}

/* Cloud zoom */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-normal\.scss}line{font-family:\00003270}}
.node-product-type .cloud-zoom-container .cloud-zoom-gallery-thumbs .cloud-zoom-gallery {
  margin: 5px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/camoatech\/workspace\/dev\/yoremodelo\/profiles\/commerce_kickstart\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-normal\.scss}line{font-family:\00003275}}
.node-product-type .field-name-field-product form.commerce-add-to-cart label {
  float: left;
}
